.manage-pals-view {
  width: 80%;
  margin: 60px auto 0;
  text-align: center;

  .column {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    min-height: 500px;
    padding-top: 20px;
  }

  .all-users-container {
    border-right: 1px solid #ccc;
  }

  .user-list {
    margin-top: 20px;
  }

  .all-users {
    height: 70vh;
    overflow-y: scroll;
    margin-right: 20px;

    .user {
      padding: 10px 20px;
      width: 300px;
      margin: 0 auto;
      text-align: left;

      .checkbox {
        vertical-align: middle;
      }

      .avatar {
        vertical-align: middle;
        margin: 0 10px;
        display: inline-block;
      }

      .names {
        display: inline-block;
        vertical-align: middle;
      }

      .name {
        font-family: $font-family-base;
        font-size: 22px;
        color: $btn-main-color;
      }

      .buddy {
        font-family: $font-family-base;
        font-size: 16px;
        color: $light-grey;
        margin-left: 10px;
      }
    }
  }

  .select-users-label {
    font-family: $font-family-base;
    font-size: 24px;
    font-weight: normal;
    color: $btn-main-color;
  }

  .selected-users {
    min-height: 300px;

    .user {
      display: inline-block;
      margin: 0 20px;
      vertical-align: top;

      .name {
        font-family: $font-family-base;
        font-size: 18px;
        color: $btn-main-color;
        margin-top: 10px;
      }
    }
  }

  .success {
    font-family: $font-family-base;
    font-size: 22px;
    color: $success;
    margin: 20px 0 0;
  }
}
