<div class="manage-pals-view">

  <div class="all-users-container column">
    <div class="user-search">
      <form>
        <input type="text" ng-model="search" placeholder="Search users...">
      </form>
    </div>
    <div class="all-users user-list">
      <div class="user"
        ng-repeat="user in allUsers | filter: userFilter | orderBy: 'name'"
        ng-click="toggleUser(user)">
        <input class="checkbox" type="checkbox" ng-checked="user.selected">
        <div class="avatar"
          ng-style="{ 'background-image': 'url(' + user.avatarUrl + ')'}">
        </div>
        <div class="names">
          <div class="name">{{user.name}}</div>
          <div class="buddy" ng-if="user.buddy">
            Buddy: {{user.buddy.name}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="selected-users-container column">
    <h3 class="select-users-label">Select 2 users</h3>
    <div class="selected-users user-list">
      <div class="user" ng-repeat="user in allUsers | filter:{selected: true}">
        <div class="avatar"
          ng-style="{ 'background-image': 'url(' + user.avatarUrl + ')'}">
        </div>
        <span class="name">{{user.name}}</span>
      </div>
    </div>
    <button class="btn link-users"
      ng-click="toggleUserConnection()"
      ng-disabled="numSelected !== 2">
      {{toggleUserConnectionBtnLabel}}
    </button>
    <div class="message success" ng-if="success">
      {{success}}
    </div>
  </div>

</div>
