.unsubscribe-view {
  border: 1px solid $btn-main-color;
  background-color: white;
  width: 600px;
  margin: 50px auto 0;
  text-align: center;

  .loading {
    margin: 100px 0;
  }

  h2 {
    margin: 100px 0;
    font-size: 30px;
  }
}
