body {
	font-family: arial, sans-serif;
}
header {
	text-align: center;
}
h1 {
	margin: 0;
	padding: 0;
	font-size: 42px;
}
.content {
	text-align: center;
	margin-bottom: 80px;
}
p.intro {
	margin: 10px 0;
	padding: 0;
	font-size: 18px;
}
.field {
	margin-bottom: 10px;
}
.field:last-of-type {
	margin-bottom: 20px;
}
.gwt-TextBox {
	height: 30px;
	width: 350px;
	line-height: 30px;
	font-size: 18px;
	padding: 5px;
}
.gwt-TextBox:focus,
.gwt-ListBox:focus {
	outline-color: #DE0052;
}
.gwt-Button {
	height: 40px;
	width: 140px;
	font-size: 18px;
}
.validationError {
	margin-top: 10px;
	color: red;
	font-size: 18px;
}
.successMsg {
	font-size: 20px;
	color: #DE0052;
	margin-top: 30px;
}
.currentLunchGroups {
	margin: 10px 50px 20px;
}
.currentLunchGroups::after {
	content: "";
	display: block;
	clear: left;
}
.lunchGroup {
	float: left;
	width: 200px;
	border: 1px solid #840440;
	height: 90px;
	padding: 10px;
	border-radius: 5px;
	text-align: left;
	background-color: #cb0d67;
	color: white;
	box-shadow: 5px 5px 5px #ccc;
	margin: 0 20px 20px 0;
}
.weekAndLegend {
	margin: 80px 0 20px 50px;
	text-align: left;
}
h3 {
	margin: 20px 0 20px 50px;
	text-align: left;
	font-size: 20px;
}
.week {
	font-size: 20px;
	margin-bottom: 10px;
}
.legend {
	font-size: 16px;
}
.gwt-ListBox {
	width: 364px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border-radius: 0;
	height: 34px;
}
