.home-view {

  .register-view {
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid $btn-main-color;
    position: absolute;
    left: 10%;
    top: 30%;
  }

  .programs {
    position: absolute;
    right: 15%;
    top: 35%;

    a {
      text-decoration: none;
      color: $btn-main-color;
    }
  }

  .program {
    width: 500px;
    margin: 20px auto;
    height: 100px;
    line-height: 100px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $btn-main-color;
    background-color: white;
    font-family: $font-family-serif;
    font-style: italic;
  }
}
