.lunch-group {
  margin: 20px 0;
  padding: 20px;
  text-align: center;

  .user {
    display: inline-block;
    margin: 0 20px;
    vertical-align: top;

    .pingboard-link {
      text-decoration: none;
    }

    .avatar {
      height: 100px;
      width: 100px;
      border: 1px solid white;
      border-radius: 50%;
    }

    .name {
      font-family: $font-family-base;
      font-size: 18px;
      margin-top: 10px;
      color: black;
    }

    .coordinator {
      font-family: $font-family-base;
      font-size: 14px;
      color: #666;
    }
  }
}
