.lunch-groups-view {
  width: 80%;
  margin: 40px auto 0;

  .week-and-legend {
    text-align: center;
    margin-bottom: 30px;

    .week {
      font-size: 20px;
      margin-bottom: 10px;
      font-family: $font-family-serif;
    }

    .legend {
      font-family: $font-family-base;
      font-size: 20px;
    }
  }

  .location {
    border: 1px solid $btn-main-color;
    margin-bottom: 20px;
    background-color: white;
  }

  .location-name {
    margin: 20px 0 20px 50px;
    text-align: center;
    font-size: 28px;
    font-family: $font-family-base;
    color: $btn-main-color;
  }

  .lunch-groups-container {
    margin: 10px 50px 20px;
  }

  .lunch-group-wrapper {
    border-bottom: 1px solid black;

    &:last-child {
      border-bottom: 0;
    }
  }
}
