.lunch-groups-view {
  width: 80%;
  margin: 40px auto 50px;
  border: 1px solid $btn-main-color;
  background-color: white;
  min-height: 400px;
  text-align: center;

  h1 {
    margin-top: 20px;
    font-size: 28px;
    font-family: $font-family-serif;
    font-style: italic;
    font-weight: normal;
    text-transform: uppercase;
  }

  .date-widget {
    font-size: 18px;
    font-family: $font-family-base;
    margin: 10px 0 30px;
  }

  .loading {
    margin-top: 80px;
  }

  .hamburger {
    width: 80px;
    -webkit-animation: spin 2s infinite linear;
    animation-timing-function: spin 2s infinite linear;
  }

  .no-groups {
    margin-top: 100px;
    font-size: 40px;
    font-family: $font-family-base;
  }

  .tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .city {
    display: inline-block;
    margin: 20px;

    &.active {
      border-bottom: 3px solid $accent-color;
    }

    a {
      font-size: 28px;
      font-family: $font-family-base;
      font-weight: bold;
      color: $btn-main-color;
      text-decoration: none;
    }
  }

  .lunch-groups {
    margin: 20px 50px;
  }

  .lunch-group {
    border-bottom: 1px solid black;
    margin: 20px 0;
    padding: 20px;
    text-align: center;

    &:first-child {
      border-top: 1px solid black;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  .user {
    display: inline-block;
    min-width: 200px;
    vertical-align: top;

    .pingboard-link {
      text-decoration: none;
    }

    .name {
      font-family: $font-family-base;
      font-size: 18px;
      margin-top: 10px;
      color: black;
    }

    .coordinator {
      font-family: $font-family-base;
      font-size: 14px;
      color: $light-grey;
    }
  }

}
