<div class="lunch-groups-view">

  <h1 ng-if="type === 'regular'">The Standard Lunch</h1>
  <h1 ng-if="type === 'popsugar-pals'">PopSugar Pals</h1>

  <div ng-include="'/widgets/date/date.html'"></div>

  <div class="loading" ng-if="loading">
    <img class="hamburger" src="/assets/images/hamburger.gif">
  </div>

  <div class="no-groups" ng-if="!loading && groups.length === 0">
    PopSugar Pals will start soon!
  </div>

  <ul class="tabs">
    <li class="city" ng-if="sfLunchGroups.length" ng-class="{ active: city === 'sanfrancisco' }">
      <a ng-href="/groups/{{type}}/sanfrancisco">San Francisco</a>
    </li>
    <li class="city" ng-if="nyLunchGroups.length" ng-class="{ active: city === 'newyork' }">
      <a ng-href="/groups/{{type}}/newyork">New York</a>
    </li>
    <li class="city" ng-if="laLunchGroups.length" ng-class="{ active: city === 'losangeles' }">
      <a ng-href="/groups/{{type}}/losangeles">Los Angeles</a>
    </li>
  </ul>

  <div class="lunch-groups">
    <div class="lunch-group" ng-repeat="group in groups">
      <div class="user" ng-repeat="user in group.users">
        <a class="pingboard-link" ng-href="{{ user.pingboardUrl }}" target="_blank">
          <div class="avatar"
            ng-style="{ 'background-image': 'url(' + user.avatarUrl + ')'}">
          </div>
          <div class="name">
            {{user.name}}
          </div>
          <div class="coordinator" ng-if="user.coordinator">
            Coordinator
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
