<div class="lunch-groups-view">

  <h1 ng-if="type == 'Regular'">The Standard Lunch</h1>
  <h1 ng-if="type == 'PopsugarPals'">PopSugar Pals</h1>

  <div class="date">{{date}}</div>

  <div class="loading" ng-if="loading">
    <img class="hamburger" src="/assets/images/hamburger.gif">
  </div>

  <div class="no-groups"
    ng-if="!loading && sfLunchGroups.length === 0 && laLunchGroups.length === 0 && nyLunchGroups.length === 0">
    PopSugar Pals will start soon!
  </div>

  <div class="location" ng-if="sfLunchGroups.length">
    <h3 class="city">San Francisco</h3>
    <div class="lunch-groups-container">
      <div class="lunch-group-wrapper"
        ng-repeat="group in sfLunchGroups"
        ng-include="'/views/lunch-groups/lunch-group.html'">
      </div>
    </div>
  </div>

  <div class="location" ng-if="laLunchGroups.length">
    <h3 class="city">Los Angeles</h3>
    <div class="lunch-groups-container">
      <div class="lunch-group-wrapper"
        ng-repeat="group in laLunchGroups"
        ng-include="'/views/lunch-groups/lunch-group.html'">
      </div>
    </div>
  </div>

  <div class="location" ng-if="nyLunchGroups.length">
    <h3 class="city">New York</h3>
    <div class="lunch-groups-container">
      <div class="lunch-group-wrapper"
        ng-repeat="group in nyLunchGroups"
        ng-include="'/views/lunch-groups/lunch-group.html'">
      </div>
    </div>
  </div>

</div>
