.lunch-group {
  margin: 20px 0;
  padding: 20px;
  text-align: center;

  .user {
    display: inline-block;
    min-width: 200px;
    vertical-align: top;

    .pingboard-link {
      text-decoration: none;
    }

    .name {
      font-family: $font-family-base;
      font-size: 18px;
      margin-top: 10px;
      color: black;
    }

    .coordinator {
      font-family: $font-family-base;
      font-size: 14px;
      color: $light-grey;
    }
  }
}
