<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<listener>
		<listener-class>com.popsugar.lunch.WebAppInitializer</listener-class>
	</listener>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>AdminOnly</web-resource-name>
  		<url-pattern>/api/lunch/generate-groups</url-pattern>
  		<url-pattern>/api/lunch/upgrade</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>admin</role-name>
  	</auth-constraint>
	</security-constraint>

	<servlet>
		<servlet-name>JerseyServlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.popsugar.lunch.api.JerseyApp</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>StaticServlet</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>JerseyServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>StaticServlet</servlet-name>
		<url-pattern>/groups/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>StaticServlet</servlet-name>
		<url-pattern>/manage-pals</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
